body {
    width: 800px; 
    margin: 0 auto;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;

}

img {
    width:200px;
    height:200px;
}

p {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div {
    border: 5px solid black;
    display: flex;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}